.mypage
  .mypage__head
    .mypage__head__box
      .mypage__head__box__img
        = image_tag ("material/icon/member_photo_noimage_thumb.png"), class: 'logo' 
      .mypage__head__box__name
        名前
      .mypage__head__box__number
        .mypage__head__box__number__evaluation
          評価 0
        .mypage__head__box__number__exhibition
          出品数 0


  .mypage__body
    .mypage__body__messages
      お知らせ


    .mypage__body__item
      .mypage__body__item__icon
        = image_tag ("material/icon/icon_brand.png"), class: 'brand-logo' 
      .mypage__body__item__body
        %p.mypage__body__item__body__text
          <<事務局からのお知らせ！>>  今らな300Pプレゼント
        .mypage__body__item__body__time
          .mypage__body__item__body__time__clock
            <i class="far fa-clock"></i>
          .mypage__body__item__body__time__date
            1日前
        %ul.mypage__body__item__body__right-log
          %i.fas.fa-chevron-right



    .mypage__body__item
      .mypage__body__item__icon
        = image_tag ("material/icon/icon_brand.png"), class: 'brand-logo' 
      .mypage__body__item__body
        .mypage__body__item__body__text
          <<事務局からのお知らせ！>>  サーバーメンテナンスのお知らせ
        .mypage__body__item__body__time
          .mypage__body__item__body__time__clock
            <i class="far fa-clock"></i>
          .mypage__body__item__body__time__date
            3日前
        %ul.mypage__body__item__body__right-log
          %i.fas.fa-chevron-right
    .mypage__body__item
      .mypage__body__item__icon
        = image_tag ("material/icon/icon_brand.png"), class: 'brand-logo' 
      .mypage__body__item__body
        .mypage__body__item__body__text
          <<事務局からのお知らせ！>>  アンケートに答えてポイント プレゼント
        .mypage__body__item__body__time
          .mypage__body__item__body__time__clock
            <i class="far fa-clock"></i>
          .mypage__body__item__body__time__date
            3日前
        %ul.mypage__body__item__body__right-log
          %i.fas.fa-chevron-right
    .mypage__body__item
      .mypage__body__item__icon
        = image_tag ("material/icon/icon_brand.png"), class: 'brand-logo' 
      .mypage__body__item__body
        .mypage__body__item__body__text
          <<事務局からのお知らせ！>>  まだ間に合うポイント還元
        .mypage__body__item__body__time
          .mypage__body__item__body__time__clock
            <i class="far fa-clock"></i>
          .mypage__body__item__body__time__date
            5日前
        %ul.mypage__body__item__body__right-log
          %i.fas.fa-chevron-right
    .mypage__body__item
      .mypage__body__item__icon
        = image_tag ("material/icon/icon_brand.png"), class: 'brand-logo' 
      .mypage__body__item__body
        .mypage__body__item__body__text
          <<事務局からのお知らせ！>>  紹介キャンペーン実施中
        .mypage__body__item__body__time
          %a.mypage__body__item__body__time__clock
            <i class="far fa-clock"></i>
          %a.mypage__body__item__body__time__date
            8日前
        %ul.mypage__body__item__body__right-log
          %i.fas.fa-chevron-right
    .mypage__body__list
      .mypage__body__list__go
        一覧をみる

    .mypage__tab
      .mypage__tab__head
        購入した商品
      .mypage__tab__group
        %a.mypage__tab__group__transaction
          取引中
        %a.mypage__tab__group__pasttransactions
          過去の取引
      .mypage__tab__main
        取引中の商品がありません