.exhibition__page
  .exhibition__page__header
    = image_tag ('material/logo/logo.png'), class: "logo"
  .exhibition__page__box
    .exhibition__page__box__in 
      = form_for @product do |f|
        %h1
        出品画像
        %span 必須
        = f.fields_for :product_images do |i|
          %label{class: "exhibition_icon"}
            = icon('fas','camera')
            = i.file_field :src,value: "", class: "exhibition_image_field"
        %h1
        商品名
        %span 必須
        .form
          =f.text_field :name, placeholder: "40文字まで"      
        %h1  
        商品の説明
        %span 必須
        .form
          =f.text_area :description, size: "78%x7", placeholder: "商品の説明 (必須,1,000文字以内) (色、素材、重さ、定価、注意点など)   例) 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。" 
        %h2
        商品の詳細  
        -# %h1
        -# カテゴリー
        -# %span 必須
        -# .form
          -# = f.text_field :category
          -# =f.collection_select :category, Category.all, :id, :name 
        -# %h1
        -# ブランド(任意)
        -# .form
        -#   =f.text_field :bland
        %h1
        商品状態
        %span 必須
        .form
          =f.collection_select :condition_id, Condition.all, :id, :name, {prompt:"選択してください"}, {class:""} 
        %h2
        配送について
        %h1
        配送料の負担
        %span 必須
        .form
          =f.collection_select :postage_id, Postage.all, :id, :name, {prompt:"選択してください"}, {class:""}
        %h1
        発送元の地域
        %span 必須
        .form
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt:"選択してください"}, {class:""}
        %h1
        発送までの日数
        %span 必須
        .form
          =f.collection_select :preparation_day_id, PreparationDay.all, :id, :name, {prompt:"選択してください"}, {class:""}
        %h2
        価格(¥300~9,999,999)  
        %h1
        販売価格
        %span 必須
        .form
          =icon('fas','yen-sign')
          =f.text_field :pricing    
        .action
          =f.submit "出品する"    
  .newFooter
    .footercontents
      %ul.footerlists
        %li.footerlists__list
          = link_to "プライバシーポリシー","#", class: "footer-link"
        %li.footerlists__list
          = link_to "FURIMA利用規約","#", class: "footer-link"
        %li.footerlists__list
          = link_to "特定商取引に関する表記","#", class: "footer-link"
    .footerLogo
      = link_to image_tag("material/logo/logo-white.png", class: "footer-logo"), root_path
    .footerLogo-text
      © FURIMA                                      